<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%# rails detects list of users, iterates through them and renders the partial _user.html.erb %>
  <%= render @users %> 
</ul>

<%= will_paginate %>